/* poppins-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}

/* poppins-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/poppins-v21-latin-500.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/poppins-v21-latin-600.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/poppins-v21-latin-700.woff2') format('woff2');
}

/* sofia-sans-extra-condensed-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Sofia Sans Extra Condensed';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/sofia-sans-extra-condensed-v2-latin-regular.woff2') format('woff2');
}

/* sofia-sans-extra-condensed-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Sofia Sans Extra Condensed';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/sofia-sans-extra-condensed-v2-latin-700.woff2') format('woff2');
}

/* sofia-sans-extra-condensed-800 - latin */
@font-face {
	font-display: swap;
	font-family: 'Sofia Sans Extra Condensed';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/sofia-sans-extra-condensed-v2-latin-800.woff2') format('woff2');
}
