---
import Guide from '../components/Guide.astro'
import Hero from '../components/Hero.astro'
import NavBar from '../components/NavBar.astro'
import Paragraph from '../components/Paragraph.astro'
import Plan from '../components/Plan.astro'
import Stakes from '../components/Stakes.astro'
import Testimonials from '../components/Testimonials.astro'
import ValueProp from '../components/ValueProp.astro'
import Footer from '../components/Footer.astro'
import QuoteModal from '../components/QuoteModal.astro'
import LeadAd from '../components/LeadAd.astro'
import '../styles/global.css'
import logo from '../images/rr_logo_orange.webp'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/rrfavicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Rapid Rank grows your business while you sleep. Convert more website visitors into sales with a blazing fast hand-coded site. Free custom growth plan for local businesses."
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap"
			rel="stylesheet"
		/>
		<title>RapidRank | Websites that rank fast and generate leads.</title>
	</head>
	<body class="">
		<NavBar />
		<QuoteModal />
		<Hero />
		<Stakes />
		<ValueProp />
		<Guide />
		<Testimonials />
		<Plan />
		<Paragraph />
		<LeadAd />
		<Footer />
	</body>
</html>

<script
	type="application/ld+json"
	set:html={JSON.stringify({
		'@context': 'https://schema.org',
		'@type': 'LocalBusiness',
		name: 'Rapid Rank LLC',
		description:
			'Rapid Rank LLC builds high-performance websites for small businesses. Our hand-coded sites are faster and perform better in search results. With our 23-point research process, we write effective sales copy that generates a steady stream of leads for your business.',
		image: logo.src,
		url: 'https://rapidrank.com',
		telephone: '(812) 264-2994',
		email: 'craig@rapidrank.com'
	})}
/>
