---
import Guide from '../components/Guide.astro'
import Hero from '../components/Hero.astro'
import NavBar from '../components/NavBar.astro'
import Paragraph from '../components/Paragraph.astro'
import Plan from '../components/Plan.astro'
import Stakes from '../components/Stakes.astro'
import Testimonials from '../components/Testimonials.astro'
import ValueProp from '../components/ValueProp.astro'
import Footer from '../components/Footer.astro'
import QuoteModal from '../components/QuoteModal.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/rrfavicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Rapid Rank grows your business while you sleep. Convert more website visitors into sales with a blazing fast hand-coded site. Free custom growth plan for local businesses."
		/>
		<title>RapidRank | Websites that rank fast and generate leads.</title>
	</head>
	<body class="">
		<NavBar />
		<QuoteModal />
		<Hero />
		<Stakes />
		<ValueProp />
		<Guide />
		<Testimonials />
		<Plan />
		<Paragraph />
		<Footer />
	</body>
</html>
