<footer class="bg-gray-900 text-gray-200">
	<div class="group mx-auto max-w-7xl px-4 py-8 text-sm">
		<div
			class="flex flex-col items-center justify-center gap-2 rounded-lg group-hover:bg-gradient-to-r group-hover:from-gray-900 group-hover:via-gray-950/30 group-hover:to-gray-900"
		>
			<div class="pb-2">&copy; {new Date().getFullYear()} Rapid Rank LLC</div>
			<div class="flex gap-4">
				<a href="mailto:craig@rapidrank.com" class="hover:text-white">Click to Email</a>
				<span>|</span>
				<span
					>Call or Text: <a class="hover:text-white hover:underline" href="tel:8122642994"
						>(812)264-2995</a
					></span
				>
			</div>
		</div>
	</div>
</footer>
