<!-- Junk Drawer Section -->
<footer class="bg-gray-800 py-12 text-white">
	<div class="container mx-auto px-4">
		<div class="flex flex-col justify-between md:flex-row">
			<!-- Left Side -->
			<div class="mb-8 md:mb-0">
				<h3 class="mb-4 font-semibold">Company</h3>
				<ul>
					<li><a href="#" class="text-gray-400 hover:text-white">About Us</a></li>
					<li>
						<a href="mailto:craig@rapidrank.com " class="text-gray-400 hover:text-white"
							>Contact Us</a>
					</li>
					<li><a href="#" class="text-gray-400 hover:text-white">Careers</a></li>
				</ul>
			</div>
			<!-- Middle -->
			<div class="mb-8 md:mb-0">
				<h3 class="mb-4 font-semibold">Support</h3>
				<ul>
					<li><a href="#" class="text-gray-400 hover:text-white">FAQs</a></li>
					<li><a href="#" class="text-gray-400 hover:text-white">Privacy Policy</a></li>
					<li><a href="#" class="text-gray-400 hover:text-white">Terms of Service</a></li>
				</ul>
			</div>
			<!-- Right Side -->
			<div>
				<h3 class="mb-4 font-semibold">Follow Us</h3>
				<ul class="flex space-x-6">
					<li><a href="#" class="text-gray-400 hover:text-white">Facebook</a></li>
					<li><a href="#" class="text-gray-400 hover:text-white">Twitter</a></li>
					<li><a href="#" class="text-gray-400 hover:text-white">LinkedIn</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
