<footer class="bg-gray-900 text-gray-200">
	<div class="mx-auto max-w-7xl px-4 py-8 text-sm">
		<div class="flex flex-col items-center justify-center gap-2">
			<div class="flex gap-4">
				<a href="mailto:craig@rapidrank.com" class="hover:text-white">Click to Email</a>
				<span>|</span>
				<span
					><a class="hover:text-white hover:underline" href="tel:8122642994">(812)264-2994</a></span
				>
			</div>
			<div>&copy; {new Date().getFullYear()} RapidRank</div>
		</div>
	</div>
</footer>
